In [1]:
import numpy as np
import pandas as pd

## Exercise 1. Data Selection

Read the csv file `sales.csv` into a DataFrame.
Then, print its shape, and show its head

In [ ]:
df = pd.read_csv('sales.csv')
print(df.shape)
df.head

(100, 5)

<bound method NDFrame.head of       ID  product  quantity  month  year
0   s001   Tablet        60      1  2019
1   s002  Headset        77      1  2019
2   s003   Tablet        40      1  2019
3   s004  Headset        38      2  2019
4   s005  Printer        72      2  2019
..   ...      ...       ...    ...   ...
95  s096  Monitor        74     10  2021
96  s097  Printer        66     11  2021
97  s098   Tablet        43     11  2021
98  s099   Laptop        66     12  2021
99  s100  Headset        80     12  2021

[100 rows x 5 columns]>

Select the column `year`

In [ ]:
df['year']

0     2019
1     2019
2     2019
3     2019
4     2019
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Name: year, Length: 100, dtype: int64

What are the unique values of this column?

In [ ]:
df['year'].unique()

array([2019, 2020, 2021])

What are the unique values of `product` column (those are the different sold products).

In [ ]:
df['product'].unique()

array(['Tablet', 'Headset', 'Printer', 'Monitor', 'Laptop'], dtype=object)

Select a subset of the DataFrame where the year is 2019 (call it `df2019`, print the shape and the head)

In [ ]:
df2019 = df[df['year']==2019]
print(df2019.shape)
df.head()

(34, 5)

     ID  product  quantity  month  year
0  s001   Tablet        60      1  2019
1  s002  Headset        77      1  2019
2  s003   Tablet        40      1  2019
3  s004  Headset        38      2  2019
4  s005  Printer        72      2  2019

From this dataframe, select `quantity` column, and find its sum

In [ ]:
df2019['quantity'].sum()

2103

Find the sales of year 2020, select `quantity` column and find its sum:

In [ ]:
df[df['year']==2020]['quantity'].sum()

1980

Similarly, find sum of quantity sold in year 2021

In [ ]:
np.sum(df[df['year']==2021]['quantity'])

2234

Find the sum of quantity sold of `Printer` items

In [ ]:
df[df['product']=='Printer']['quantity'].sum()

1264

Now, write a loop over all products, finding their quantity sums:

In [ ]:
for product in df['product'].unique():
  s = df[df['product']==product]['quantity'].sum()
  print(product, s)

Tablet 1073
Headset 1471
Printer 1264
Monitor 1129
Laptop 1380

Find the sales of `Printer`s in month 2 of year 2019:

In [ ]:
df[ (df['product']=='Printer') & (df['month']==2) & (df['year']==2019) ]

     ID  product  quantity  month  year
4  s005  Printer        72      2  2019
5  s006  Printer        43      2  2019
6  s007  Printer        57      2  2019

Find the sales of 3rd quarter of year 2019 (i.e., months 7,8,9)

In [ ]:
df [(df['year']==2019) & (df['month'].isin(np.arange(7,10))) ]

      ID  product  quantity  month  year
19  s020  Monitor        30      7  2019
20  s021   Tablet        77      8  2019
21  s022  Headset        56      8  2019
22  s023  Printer        90      9  2019
23  s024  Monitor        40      9  2019

## Exercise 2. Data Selection

Read the csv file `titanic.csv` into a DataFrame.
Show its shape

In [ ]:
# write your code here
df = pd.read_csv('titanic.csv')
df.shape

(891, 12)

Show the DataFrame head

In [ ]:
# write your code here
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The data consists of the following data columns:

* PassengerId: Id of every passenger.
* Survived: This feature have value 0 and 1. 0 for not survived and 1 for survived.
* Pclass: There are 3 classes: Class 1, Class 2 and Class 3.
* Name: Name of passenger.
* Sex: Gender of passenger.
* Age: Age of passenger.
* SibSp: Indication that passenger have siblings and spouse.
* Parch: Whether a passenger is alone or have family.
* Ticket: Ticket number of passenger.
* Fare: Indicating the fare.
* Cabin: The cabin of passenger.
* Embarked: The embarked category.

What are the columns?

In [ ]:
# write your code here
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Find the unique values of columns `Survived`, `Pclass` and `Sex`

In [ ]:
# write your code here
df['Survived'].unique()

array([0, 1])

In [ ]:
# write your code here
df['Pclass'].unique()

array([3, 1, 2])

In [ ]:
# write your code here
df['Sex'].unique()

array(['male', 'female'], dtype=object)

Find the rows where the Age is missing:

In [ ]:
# write your code here
df[df['Age'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

Find the names of female passengers with age between 45 and 50

In [ ]:
# write your code here
df[(df['Sex']=='female') & (df['Age'].isin(np.arange(45,51)))]['Name']

52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
132       Robins, Mrs. Alexander A (Grace Charity Laury)
167      Skoog, Mrs. William (Anna Bernhardina Karlsson)
177                           Isham, Miss. Ann Elizabeth
259                          Parrish, Mrs. (Lutie Davis)
276                    Lindblom, Miss. Augusta Charlotta
299      Baxter, Mrs. James (Helene DeLaudeniere Chaput)
362                      Barbara, Mrs. (Catherine David)
440          Hart, Mrs. Benjamin (Esther Ada Bloomfield)
458                                  Toomey, Miss. Ellen
526                                 Ridsdale, Miss. Lucy
556    Duff Gordon, Lady. (Lucille Christiana Sutherl...
706                        Kelly, Mrs. Florence "Fannie"
736              Ford, Mrs. Edward (Margaret Ann Watson)
754                     Herman, Mrs. Samuel (Jane Laver)
796                          Leader, Dr. Alice (Farnham)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Name: Name, dtype: object

Among passengers with embarked category `C` and Pclass 1, how many were survived? and how many were not?

In [ ]:
from collections import Counter
# write your code here
Counter(df[(df['Embarked'] == 'C') & (df['Pclass']==1)]['Survived'])

Counter({1: 59, 0: 26})

## Exercise 3. Data Manipulation

A shop is selling some products ..

* For each product, we have its name, quantity, and unit price
* These informations are organized as a list of tuples
* i.e., each tuple represents a product, e.g., `('Product1', 32, 2.18)`

In [ ]:
sales = [('Product1', 32, 2.18), ('Product2', 20, 3.90), 
         ('Product3', 16, 1.46), ('Product4', 56, 2.84), 
         ('Product5', 24, 2.70), ('Product6', 34, 0.66)]

Create a DataFrame from this list, call the columns `product`, `quantity`, `unit_price`

In [ ]:
df=pd.DataFrame(sales, columns=['product', 'quantity', 'unit_price'])
df

    product  quantity  unit_price
0  Product1        32        2.18
1  Product2        20        3.90
2  Product3        16        1.46
3  Product4        56        2.84
4  Product5        24        2.70
5  Product6        34        0.66

Create a new columns, called `price` as the quantity multiplied by unit price

In [ ]:
df['price'] = df['unit_price'] * df['quantity']
df

    product  quantity  unit_price   price
0  Product1        32        2.18   69.76
1  Product2        20        3.90   78.00
2  Product3        16        1.46   23.36
3  Product4        56        2.84  159.04
4  Product5        24        2.70   64.80
5  Product6        34        0.66   22.44

What is the sum of prices?

In [ ]:
df['price'].sum()

417.4

Sort the DataFrame by `quantity`

In [ ]:
df.sort_values(by='quantity', inplace=True)
df

    product  quantity  unit_price   price
2  Product3        16        1.46   23.36
1  Product2        20        3.90   78.00
4  Product5        24        2.70   64.80
0  Product1        32        2.18   69.76
5  Product6        34        0.66   22.44
3  Product4        56        2.84  159.04

Sort the DataFrame by `price` in descending order

In [ ]:
df.sort_values(by='price', ascending=False, inplace=True)
df

    product  quantity  unit_price   price
3  Product4        56        2.84  159.04
1  Product2        20        3.90   78.00
0  Product1        32        2.18   69.76
4  Product5        24        2.70   64.80
2  Product3        16        1.46   23.36
5  Product6        34        0.66   22.44

## Exercise 4. Data Manipulation

Creat a numpy array of random integers, between 50 and 100, of size (10,5).
Then make a DataFrame out of it, call the columns: `Math`, `Physics`, `English`, `History`, `Geography`.

In [ ]:
arr = np.random.randint(50, 101, size=(10,5))
df = pd.DataFrame(arr, columns=['Math', 'Physics', 'English', 'History', 'Geography'])
df

   Math  Physics  English  History  Geography
0    93       68       58       91         86
1    71       63       73       69         68
2    96       77       65       53         88
3    51       97       67       98         53
4    50       63       82       87         65
5    66       68       56       71         59
6    59       64       76       53         88
7    73       67       74       75         78
8    77       73      100       60         52
9    85       58       72       85         89

Create a new column, called `avgSc`, whose values are a weighted average of Math (60%) and Physics (40%) (round it to integer)

In [ ]:
df['avgSc'] = round(df['Math']*.6 + df['Physics']*.4).astype(int)
df

   Math  Physics  English  History  Geography  avgSc
0    93       68       58       91         86     83
1    71       63       73       69         68     68
2    96       77       65       53         88     88
3    51       97       67       98         53     69
4    50       63       82       87         65     55
5    66       68       56       71         59     67
6    59       64       76       53         88     61
7    73       67       74       75         78     71
8    77       73      100       60         52     75
9    85       58       72       85         89     74

Create a new column, called `avgA`, 
whose values are a weighted average of English (40%), History (30%), and Geography (30%) (round it to integer)

In [ ]:
df['avgA'] = df.apply(lambda row: round( 0.4*row['English'] + 0.3*row['History'] + .3*row['Geography'] ) , axis=1)
df

   Math  Physics  English  History  Geography  avgSc  avgA
0    93       68       58       91         86     83    76
1    71       63       73       69         68     68    70
2    96       77       65       53         88     88    68
3    51       97       67       98         53     69    72
4    50       63       82       87         65     55    78
5    66       68       56       71         59     67    61
6    59       64       76       53         88     61    73
7    73       67       74       75         78     71    76
8    77       73      100       60         52     75    74
9    85       58       72       85         89     74    81

Create a new column, called `nerd`, whose value is True if avgSc > avgA and False otherwise

In [ ]:
# write your code here
df['nerd'] = df.apply(lambda row: True if row['avgSc'] > row['avgA'] else False, axis = 1)
df

   Math  Physics  English  History  Geography  avgSc  avgA   nerd
0    93       68       58       91         86     83    76   True
1    71       63       73       69         68     68    70  False
2    96       77       65       53         88     88    68   True
3    51       97       67       98         53     69    72  False
4    50       63       82       87         65     55    78  False
5    66       68       56       71         59     67    61   True
6    59       64       76       53         88     61    73  False
7    73       67       74       75         78     71    76  False
8    77       73      100       60         52     75    74   True
9    85       58       72       85         89     74    81  False

Remove rows where History is less than English

In [ ]:
drop_index = df[df['History']<df['English']].index
df.drop(index = drop_index)

   Math  Physics  English  History  Geography  avgSc  avgA   nerd
0    93       68       58       91         86     83    76   True
3    51       97       67       98         53     69    72  False
4    50       63       82       87         65     55    78  False
5    66       68       56       71         59     67    61   True
7    73       67       74       75         78     71    76  False
9    85       58       72       85         89     74    81  False

Finally, remove avgSc and avgA columns

In [ ]:
# write your code here
df.drop(columns= ['avgA','avgSc'])

   Math  Physics  English  History  Geography   nerd
0    93       68       58       91         86   True
1    71       63       73       69         68  False
2    96       77       65       53         88   True
3    51       97       67       98         53  False
4    50       63       82       87         65  False
5    66       68       56       71         59   True
6    59       64       76       53         88  False
7    73       67       74       75         78  False
8    77       73      100       60         52   True
9    85       58       72       85         89  False

## Exercise 5. Data Manipulation (My first Search Engine!)

We have a document collection (a list of strings).

Create a DataFrame from this list.

In [2]:
docs= ["Sugar is bad to consume",
       "My sister likes to have sugar but not my father", 
       "My father spends a lot of time driving my sister around to dance practice",
       "Doctors suggest that driving may cause increased stress and blood pressure",
       "Sometimes I feel pressure to perform well at school", 
       "my father never seems to drive my sister to do better",
       "Health experts say that Sugar is not good for your lifestyle"]
# write your code here
df = pd.DataFrame(docs, columns = ['text'])
df

                                                text
0                            Sugar is bad to consume
1    My sister likes to have sugar but not my father
2  My father spends a lot of time driving my sist...
3  Doctors suggest that driving may cause increas...
4  Sometimes I feel pressure to perform well at s...
5  my father never seems to drive my sister to do...
6  Health experts say that Sugar is not good for ...

Use `reset_index()` to make the index as a column, and rename this new column from `index` to `docid`

In [3]:
# write your code here
df.reset_index(inplace = True)
df.rename(columns = {'index': 'docid'}, inplace = True)
df

   docid                                               text
0      0                            Sugar is bad to consume
1      1    My sister likes to have sugar but not my father
2      2  My father spends a lot of time driving my sist...
3      3  Doctors suggest that driving may cause increas...
4      4  Sometimes I feel pressure to perform well at s...
5      5  my father never seems to drive my sister to do...
6      6  Health experts say that Sugar is not good for ...

Now, create an empty list, called `inv_index`,
Then, iterate over the DataFrame rows (as tuples), and for each text:
* convert into lower case, 
* split it into words, and for each word:
    * make a tuple of (word, index), and
    * append it to `inv_index` list
Don't print the list, just print its length

In [32]:
# write your code here
inv_index = []
for idx, docid, text in df.itertuples():
  row_text = text.lower().split()
  inv_index.extend([(val, idx) for val in row_text])
print(len(inv_index))

71

Create a DataFrame, called `df_inv`, from the list `inv_index`, with column names: `Word`, and `Document`.
Print its shape, and show the head.

In [33]:
# write your code here
df_inv = pd.DataFrame(inv_index, columns =['Word', 'Document'])
print(df_inv.shape)
df_inv.head()

(71, 2)

      Word  Document
0    sugar         0
1       is         0
2      bad         0
3       to         0
4  consume         0

Remove (inplace) from df_inv the rows where the word belongs to the following list of stop-words

In [36]:
stopwords = ['a', 'and', 'at', 'but', 'do', 'for', 'have', 
             'i', 'is', 'my', 'not', 'of', 'that', 'to', 'your']

In [40]:
# write your code here
df_inv = df_inv.loc[~df_inv['Word'].isin(stopwords)]
df_inv.head()

      Word  Document
0    sugar         0
2      bad         0
4  consume         0
6   sister         1
7    likes         1

Write a function, called `search`, that takes 1 argument called `query`:
* this function should select from `df_inv` the rows where `Word` equals `query`
* get the `Document` column of those rows, call it: `res_docs` 
* then find in the DataFrame `df` the rows where the column `docid` is in `res_docs`
* and return the `text` of those rows (convert it to a list)

In [57]:
def search(query):
    # write your code here
    res_docs = df_inv.loc[df_inv['Word'] == query, 'Document'].unique()
    return list(df.loc[df['docid'].isin(res_docs), 'text'])

Now, use this function to search for the word `'sugar'`

In [58]:
search('sugar')

['Sugar is bad to consume',
 'My sister likes to have sugar but not my father',
 'Health experts say that Sugar is not good for your lifestyle']

In [53]:
search('health')

['Health experts say that Sugar is not good for your lifestyle']

In [54]:
search('sister')

['My sister likes to have sugar but not my father',
 'My father spends a lot of time driving my sister around to dance practice',
 'my father never seems to drive my sister to do better']

In [55]:
search('drive')

['my father never seems to drive my sister to do better']

In [56]:
search('dance')

['My father spends a lot of time driving my sister around to dance practice']