In [1]:
import numpy as np
import pandas as pd

In [ ]:
a=[1,2,3]
b=[4,5]
c= pd.DataFrame([a,b],columns=['a','b','c'])
new_columns=['c','a','b']
c

   a  b    c
0  1  2  3.0
1  4  5  NaN

In [ ]:
c = c.reindex(columns = new_columns)
col = c['a']
col.name #gives the label of the column. In tihs case, a

'a'

# 1. Data Selection

In [ ]:
cols = ['FirstName', 'LastName', 'Age', 'Country', 'Gender', 'Address']
T = [('Giuseppe', 'Manchini',  26, 'Italy', 'Male',   'Munich'),
     ('Elena',  'Gonzalez',  24, 'Spain', 'Female', 'Berlin'),
     ('Khalid', 'Hasan',     32, 'Egypt', 'Male',   'Stuttgart'),
     ('Ben',    'Greenwood', 41, 'UK',    'Male',   'Munich'),
     ('Anna',   'Nikulin',   36, 'Russia', 'Female','Hamburg'),
     ('Sarah',  'Weisstein', 29, 'Germany','Female','Munich'),
     ('Cindy',  'Bright',    25, 'UK',    'Female', 'Berlin')]
df = pd.DataFrame(T, columns=cols)
df

  FirstName   LastName  Age  Country  Gender    Address
0  Giuseppe   Manchini   26    Italy    Male     Munich
1     Elena   Gonzalez   24    Spain  Female     Berlin
2    Khalid      Hasan   32    Egypt    Male  Stuttgart
3       Ben  Greenwood   41       UK    Male     Munich
4      Anna    Nikulin   36   Russia  Female    Hamburg
5     Sarah  Weisstein   29  Germany  Female     Munich
6     Cindy     Bright   25       UK  Female     Berlin

### 1.1. Select specific columns from a DataFrame

* To select a single column, use square brackets `[ ]` with the column name 
* Each column in a DataFrame is a Series.
* As a single column is selected, the returned object is a pandas Series. 
* We can verify this by checking the type of the output:

In [ ]:
df['Age']

0    26
1    24
2    32
3    41
4    36
5    29
6    25
Name: Age, dtype: int64

In [ ]:
type(df['Age'])

pandas.core.series.Series

In [ ]:
df['Age'].shape

(7,)

In [ ]:
df['Gender']

0      Male
1    Female
2      Male
3      Male
4    Female
5    Female
6    Female
Name: Gender, dtype: object

We can use `.unique()` to find the distinct values in a column:

In [ ]:
df['Gender'].unique().tolist()

['Male', 'Female']

In [ ]:
# we can convert it to a list (or to a set)
list(df['Gender'].unique())

['Male', 'Female']

In [ ]:
set(df['Address'].unique())

{'Berlin', 'Hamburg', 'Munich', 'Stuttgart'}

* To select multiple columns, use a list of column names within the selection brackets `[ ]`. 
* The inner square brackets define a Python list with column names,
* whereas the outer brackets are used to select the data from a pandas DataFrame

In [ ]:
df[['FirstName', 'Gender']]

  FirstName  Gender
0  Giuseppe    Male
1     Elena  Female
2    Khalid    Male
3       Ben    Male
4      Anna  Female
5     Sarah  Female
6     Cindy  Female

In [ ]:
type(df[['FirstName', 'Gender']])

pandas.core.frame.DataFrame

* The returned data type is a pandas DataFrame
* The selection returned a DataFrame with 7 rows and 2 columns.
* Remember, a DataFrame is 2-dimensional with both a row and column dimension.

In [ ]:
df[['FirstName', 'Gender']].shape

(7, 2)

### 1.2. Filter specific rows from a DataFrame

To select rows based on a conditional expression, use a condition inside the selection brackets `[ ]`.

In [ ]:
df[df['Age']>30]

  FirstName   LastName  Age Country  Gender    Address
2    Khalid      Hasan   32   Egypt    Male  Stuttgart
3       Ben  Greenwood   41      UK    Male     Munich
4      Anna    Nikulin   36  Russia  Female    Hamburg

* The output of the conditional expression is actually a pandas Series of boolean values (either True or False) 
    * with the same number of rows as the original DataFrame.
* This Series of boolean values can be used to filter the DataFrame by putting it in between the selection brackets `[ ]`. 
* Only rows for which the value is True will be selected

In [ ]:
df['Age']>30

0    False
1    False
2     True
3     True
4     True
5    False
6    False
Name: Age, dtype: bool

What can we use with conditions:
* Comparison operators: `==`, `!=`, `<`, `<=`, `>`, `>=`
* Logical connectors: `&` , `|` , `~`
* Functions: `.isin()`, `.isna()`, `.isnull()`, `.notna()`

In [ ]:
# return people in their 30s
df[(df['Age']>=30) & (df['Age']<40)]

  FirstName LastName  Age Country  Gender    Address
2    Khalid    Hasan   32   Egypt    Male  Stuttgart
4      Anna  Nikulin   36  Russia  Female    Hamburg

In [ ]:
# return Male people from Munich
df[(df['Gender']=='Male') & (df['Address']=='Munich')]

  FirstName   LastName  Age Country Gender Address
0  Giuseppe   Manchini   26   Italy   Male  Munich
3       Ben  Greenwood   41      UK   Male  Munich

In [ ]:
# return the rows where the address is Hamburg or Berlin
df[(df['Address']=='Hamburg') | (df['Address']=='Berlin')]

  FirstName  LastName  Age Country  Gender  Address
1     Elena  Gonzalez   24   Spain  Female   Berlin
4      Anna   Nikulin   36  Russia  Female  Hamburg
6     Cindy    Bright   25      UK  Female   Berlin

In [ ]:
# return the rows where the address belong to the list [Hamburg, Berlin]
df[df['Address'].isin(['Hamburg', 'Berlin'])]

  FirstName  LastName  Age Country  Gender  Address
1     Elena  Gonzalez   24   Spain  Female   Berlin
4      Anna   Nikulin   36  Russia  Female  Hamburg
6     Cindy    Bright   25      UK  Female   Berlin

In [ ]:
# return the rows where the Age is unknown (missing)
df[df['Age'].isnull()]

Empty DataFrame
Columns: [FirstName, LastName, Age, Country, Gender, Address]
Index: []

In [ ]:
# return the rows where the Age is known (not missing)
df[~df['Age'].isna()]

  FirstName   LastName  Age  Country  Gender    Address
0  Giuseppe   Manchini   26    Italy    Male     Munich
1     Elena   Gonzalez   24    Spain  Female     Berlin
2    Khalid      Hasan   32    Egypt    Male  Stuttgart
3       Ben  Greenwood   41       UK    Male     Munich
4      Anna    Nikulin   36   Russia  Female    Hamburg
5     Sarah  Weisstein   29  Germany  Female     Munich
6     Cindy     Bright   25       UK  Female     Berlin

In [ ]:
# or:
df[df['Age'].notna()]

### 1.3. Select specific rows and columns from a DataFrame

Give me the first name and address of people older than 30
1. We can first filter rows based on Age,
2. then select the columns first name and address

In [ ]:
df[df["Age"] > 30][['FirstName', 'Address']]

  FirstName    Address
2    Khalid  Stuttgart
3       Ben     Munich
4      Anna    Hamburg

We can also use the `loc` operator

In [ ]:
# give me the first name and address of people older than 30
df.loc[df["Age"] > 30, ['FirstName', 'Address']]

  FirstName    Address
2    Khalid  Stuttgart
3       Ben     Munich
4      Anna    Hamburg

#### `loc` and `iloc` operators
* `loc` is label-based selection operator
* we specify rows and columns based on their row and column labels 
    * `df.loc[row_labels, column_labels]`
* `iloc` is position-based selection operator
* we specify rows and columns by their integer position values (0-based)
    * `df.iloc[row_positions, column_positions]`

In [ ]:
# give me rows 2 till 4 and columns 3 to 4
# df.iloc[df["Age"] > 30, 3:5] does not work
# df.iloc[2:5, ['FirstName', 'Address']] only takes integers
# df.iloc[list(df["Age"] > 30), 3:5] this works. It does not take the series, we have to first convert the bool series into bool list
df.iloc[2:5, 3:5]

  Country  Gender
2   Egypt    Male
3      UK    Male
4  Russia  Female

# 2. Data Manipulation

1. Add / update columns 
    * `map()` and `apply()`
2. Add rows
    * `append()` and `concat()`
3. Delete columns / rows 
    * `drop()`
4. Sort DataFrame
    * by index: `sort_index()`
    * by column: `sort_values()`
5. Iterate over DataFrames 
    * `iterrows()`
    * `itertuples()`

### 2.1. Add new columns

In [2]:
d = {'one': pd.Series([3, 6, 10,12], index=['a', 'b', 'c','d']),
     'two': pd.Series([4, 12, 13, 7], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d)
df

   one  two
a    3    4
b    6   12
c   10   13
d   12    7

To create a new column, use the `[ ]` brackets with the new column name at the left side of the assignment. 

* We can add a new column to an existing DataFrame by passing a new 
    * list, 
    * np.array,  
    * series

In [4]:
df['x'] = [23, 17, 14, 3]
df

   one  two   x
a    3    4  23
b    6   12  17
c   10   13  14
d   12    7   3

In [6]:
df['y'] = np.array([2, 4, 3, 1])
df

   one  two   x  y
a    3    4  23  2
b    6   12  17  4
c   10   13  14  3
d   12    7   3  1

In [8]:
# only when we specify index, we can give a series with elements less than the table. NOTE: we still cannot give more than the existing elements
df['three']=pd.Series([10,20,30], index=['a','b','c'])
df

a    10
b    20
c    30
d    40
Name: three, dtype: int64

#### Create new columns derived from existing columns

In [ ]:
df['four']=df['two'] * 1.75
df

   one  two   x  y  three   four
a    3    4  23  2   10.0   7.00
b    6   12  17  4   20.0  21.00
c   10   13  14  3   30.0  22.75
d   12    7   3  1    NaN  12.25

* The calculation of the values is done element-wise.
* This means all values in the given column are multiplied by the value 1.75 at once.
* You do not need to use a loop to iterate each of the rows

In [ ]:
df['five']=df['one']+df['three']
df

   one  two   x  y  three   four  five
a    3    4  23  2   10.0   7.00  13.0
b    6   12  17  4   20.0  21.00  26.0
c   10   13  14  3   30.0  22.75  40.0
d   12    7   3  1    NaN  12.25   NaN

### `.map()` and `.apply()`
* `.map()` is used to apply a mapping (function or dict) element-wise for a single series
    * `Series.map(arg) # arg: func or dict`
* `.apply()` is used to apply a mapping (function) using multiple dataframe columns/rows
    * can operate on columns (`axis=1`) or rows (`axis=0`) 
    * `DataFrame.apply(func, axis, args)`

#### `.map()`
We want to change column 'two', such that:
* if the value<10, add 5 to it,
* otherwise, subtract 5 from it

In [ ]:
def myfunc(x):
    if x<10:
        return x+5
    else:
        return x-5
    
# df['two'] = df['two'].map(myfunc)
df['two'] = df['two'].map(lambda x: x+5 if x<10 else x-5)
df['x']=df['x'].map(np.sqrt)
df

   one  two         x  y  three   four  five
a    3   14  4.795832  2   10.0   7.00  13.0
b    6   12  4.123106  4   20.0  21.00  26.0
c   10   13  3.741657  3   30.0  22.75  40.0
d   12    7  1.732051  1    NaN  12.25   NaN

In [9]:
# Let us restore this dataframe 

cols = ['FirstName', 'LastName', 'Age', 'Country', 'Gender', 'Address']
T = [('Giuseppe', 'Manchini',  26, 'Italy', 'Male',   'Munich'),
     ('Elena',  'Gonzalez',  24, 'Spain', 'Female', 'Berlin'),
     ('Khalid', 'Hasan',     32, 'Egypt', 'Male',   'Stuttgart'),
     ('Ben',    'Greenwood', 41, 'UK',    'Male',   'Munich'),
     ('Anna',   'Nikulin',   36, 'Russia', 'Female','Hamburg'),
     ('Sarah',  'Weisstein', 29, 'Germany','Female','Munich'),
     ('Cindy',  'Bright',    25, 'UK',    'Female', 'Berlin')]

df = pd.DataFrame(T, columns=cols)
df

  FirstName   LastName  Age  Country  Gender    Address
0  Giuseppe   Manchini   26    Italy    Male     Munich
1     Elena   Gonzalez   24    Spain  Female     Berlin
2    Khalid      Hasan   32    Egypt    Male  Stuttgart
3       Ben  Greenwood   41       UK    Male     Munich
4      Anna    Nikulin   36   Russia  Female    Hamburg
5     Sarah  Weisstein   29  Germany  Female     Munich
6     Cindy     Bright   25       UK  Female     Berlin

We want to transform the `Gender` column, as follows:
* replace `Male` with `M`
* replace `Female` with `F`

To do so, we can use `.map()` with a dict

In [ ]:
dic = {'Male':'M', 'Female':'F'}
df['Gender'] = df['Gender'].map(dic)
df

  FirstName   LastName  Age  Country Gender    Address
0  Giuseppe   Manchini   26    Italy      M     Munich
1     Elena   Gonzalez   24    Spain      F     Berlin
2    Khalid      Hasan   32    Egypt      M  Stuttgart
3       Ben  Greenwood   41       UK      M     Munich
4      Anna    Nikulin   36   Russia      F    Hamburg
5     Sarah  Weisstein   29  Germany      F     Munich
6     Cindy     Bright   25       UK      F     Berlin

**Attention!**

Values that are not found in the dict are converted to NaN

In [ ]:
carprices = [(1, 'nissan', 12000), (2, 'maxda', 8000), (3, 'volkswagen', 11500), 
             (4, 'vokswagen', 14000), (5, 'toyota', 15000), (6, 'mazda', 10500)]
df = pd.DataFrame(carprices, columns=['car-id','car-name','price'])
df

   car-id    car-name  price
0       1      nissan  12000
1       2       maxda   8000
2       3  volkswagen  11500
3       4   vokswagen  14000
4       5      toyota  15000
5       6       mazda  10500

In this dataframe, some car names are misspelled, e.g. 'vokswagen' and 'maxda'..

Let us try to correct them ..

In [ ]:
corrections = {'maxda': 'mazda', 'vokswagen': 'volkswagen'}
df['car-name'] = df['car-name'].map(corrections)
df

   car-id car-name  price
0       1      NaN  12000
1       2      NaN   8000
2       3      NaN  11500
3       4      NaN  14000
4       5      NaN  15000
5       6      NaN  10500

This is bad !

Values that are not found in the dict are converted to NaN

So, how can we solve it?!

In [ ]:
df = pd.DataFrame(carprices, columns=['car-id','car-name','price'])

**Solution 1** We can use a lambda to get from the dictionary and the default value is the key

In [ ]:
corrections = {'maxda': 'mazda', 'vokswagen': 'volkswagen'}
df['car-name'] = df['car-name'].map(lambda x: corrections.get(x,x) )
df

   car-id    car-name  price
0       1      nissan  12000
1       2       mazda   8000
2       3  volkswagen  11500
3       4  volkswagen  14000
4       5      toyota  15000
5       6       mazda  10500

In [ ]:
# This works with both map and apply
# this is element wise so we are implementing funciton on x otherwise like in points in football game example below we are not using x
df['car-name'] = df['car-name'].apply(lambda x: x.replace('maxda', 'mazda') if x == 'maxda' else x.replace('vokswagen', 'volkswagen') if x == 'vokswagen' else x)
df

   car-id    car-name  price
0       1      nissan  12000
1       2       mazda   8000
2       3  volkswagen  11500
3       4  volkswagen  14000
4       5      toyota  15000
5       6       mazda  10500

**Solution 2** We can use `.replace()` instead of `.map()`

In [ ]:
df = pd.DataFrame(carprices, columns=['car-id','car-name','price'])

In [ ]:
corrections = {'maxda': 'mazda', 'vokswagen': 'volkswagen'}
df['car-name'] = df['car-name'].replace(corrections)
df

   car-id    car-name  price
0       1      nissan  12000
1       2       mazda   8000
2       3  volkswagen  11500
3       4  volkswagen  14000
4       5      toyota  15000
5       6       mazda  10500

#### `.apply()`

`.apply()` is used to apply a mapping (function) using multiple dataframe columns/rows

In [10]:
cols = ['FirstName', 'LastName', 'Age', 'Country', 'Gender', 'Address']
T = [('Giuseppe', 'Manchini',  26, 'Italy', 'Male',   'Munich'),
     ('Elena',  'Gonzalez',  24, 'Spain', 'Female', 'Berlin'),
     ('Khalid', 'Hasan',     32, 'Egypt', 'Male',   'Stuttgart'),
     ('Ben',    'Greenwood', 41, 'UK',    'Male',   'Munich'),
     ('Anna',   'Nikulin',   36, 'Russia', 'Female','Hamburg'),
     ('Sarah',  'Weisstein', 29, 'Germany','Female','Munich'),
     ('Cindy',  'Bright',    25, 'UK',    'Female', 'Berlin')]
df = pd.DataFrame(T, columns=cols)
df

  FirstName   LastName  Age  Country  Gender    Address
0  Giuseppe   Manchini   26    Italy    Male     Munich
1     Elena   Gonzalez   24    Spain  Female     Berlin
2    Khalid      Hasan   32    Egypt    Male  Stuttgart
3       Ben  Greenwood   41       UK    Male     Munich
4      Anna    Nikulin   36   Russia  Female    Hamburg
5     Sarah  Weisstein   29  Germany  Female     Munich
6     Cindy     Bright   25       UK  Female     Berlin

In [ ]:
df['Name'] = df['FirstName'] + ' ' + df['LastName']
df

  FirstName   LastName  Age  Country  Gender    Address               Name
0  Giuseppe   Manchini   26    Italy    Male     Munich  Giuseppe Manchini
1     Elena   Gonzalez   24    Spain  Female     Berlin     Elena Gonzalez
2    Khalid      Hasan   32    Egypt    Male  Stuttgart       Khalid Hasan
3       Ben  Greenwood   41       UK    Male     Munich      Ben Greenwood
4      Anna    Nikulin   36   Russia  Female    Hamburg       Anna Nikulin
5     Sarah  Weisstein   29  Germany  Female     Munich    Sarah Weisstein
6     Cindy     Bright   25       UK  Female     Berlin       Cindy Bright

In [ ]:
df['Name'] = df.apply(lambda row: row['FirstName'] +' '+ row['LastName'], axis = 1) # it is taking the whole first name and last name column so we have to set axis equals 1 (horizontal)
df

  FirstName   LastName  Age  Country  Gender    Address               Name
0  Giuseppe   Manchini   26    Italy    Male     Munich  Giuseppe Manchini
1     Elena   Gonzalez   24    Spain  Female     Berlin     Elena Gonzalez
2    Khalid      Hasan   32    Egypt    Male  Stuttgart       Khalid Hasan
3       Ben  Greenwood   41       UK    Male     Munich      Ben Greenwood
4      Anna    Nikulin   36   Russia  Female    Hamburg       Anna Nikulin
5     Sarah  Weisstein   29  Germany  Female     Munich    Sarah Weisstein
6     Cindy     Bright   25       UK  Female     Berlin       Cindy Bright

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3,-1), columns=['A','B','C','D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# sum of columns
df.apply(sum, axis=0)

A    12
B    15
C    18
D    21
dtype: int64

In [ ]:
# sum of rows
df.apply(sum, axis=1)

0     6
1    22
2    38
dtype: int64

In [11]:
d= [('West Ham', 'Wolves', 1, 0), ('Everton','Man City', 0, 1),
    ('Man United','Watford', 0, 0),  ('Liverpool','Leeds United', 6, 0),
    ('Leeds United','Man United', 2, 4), ('Arsenal', 'Wolves', 2, 1)]
df = pd.DataFrame(d, columns=['Team 1', 'Team 2', 'G1', 'G2'])
df

         Team 1        Team 2  G1  G2
0      West Ham        Wolves   1   0
1       Everton      Man City   0   1
2    Man United       Watford   0   0
3     Liverpool  Leeds United   6   0
4  Leeds United    Man United   2   4
5       Arsenal        Wolves   2   1

In [ ]:
df['P1'] = df.apply(lambda x: 3 if x['G1'] > x['G2'] else 1 if x['G1'] == x['G2'] else 0, axis = 1)
df['P2'] = df.apply(lambda x: 3 if x['G2'] > x['G1'] else 1 if x['G1'] == x['G2'] else 0, axis = 1)
df

         Team 1        Team 2  G1  G2  P1  P2
0      West Ham        Wolves   1   0   3   0
1       Everton      Man City   0   1   0   3
2    Man United       Watford   0   0   1   1
3     Liverpool  Leeds United   6   0   3   0
4  Leeds United    Man United   2   4   0   3
5       Arsenal        Wolves   2   1   3   0

Calculate the points of Team 1 and Team 2:
* 3 pts to the winner,
* 0 pts to the loser
* in case of draw (tie) each team gets 1 pt

In [ ]:
df['P1'] = df.apply(lambda row:3 if row['G1']>row['G2'] else 1 if row['G1']==row['G2'] else 0, axis=1)
df['P2'] = df.apply(lambda row:3 if row['G1']<row['G2'] else 1 if row['G1']==row['G2'] else 0, axis=1)
df

         Team 1        Team 2  G1  G2  P1  P2
0      West Ham        Wolves   1   0   3   0
1       Everton      Man City   0   1   0   3
2    Man United       Watford   0   0   1   1
3     Liverpool  Leeds United   6   0   3   0
4  Leeds United    Man United   2   4   0   3
5       Arsenal        Wolves   2   1   3   0

In [ ]:
# equivalently
func1 = lambda row : 3 if row['G1']>row['G2'] else 1 if row['G1']==row['G2'] else 0
func2 = lambda row : 3 if row['G1']<row['G2'] else 1 if row['G1']==row['G2'] else 0

df['P1'] = df.apply(func1, axis=1)
df['P2'] = df.apply(func2, axis=1)
df

         Team 1        Team 2  G1  G2  P1  P2
0      West Ham        Wolves   1   0   3   0
1       Everton      Man City   0   1   0   3
2    Man United       Watford   0   0   1   1
3     Liverpool  Leeds United   6   0   3   0
4  Leeds United    Man United   2   4   0   3
5       Arsenal        Wolves   2   1   3   0

### 2.2. Add new rows

We can add new rows to a DataFrame using the `append()` function. 

This function will append the rows at the end.
* If we want to add a new row, we need first to represent it either:
    * as a `Series` whose index equals the dataframe columns, or
    * as a `dict` whose keys are the the dataframe columns
* then we use `append()` function
* This returns a new dataframe with the appended row.
* We also need to set the argument `ignore_index=True`

* We can’t simply add the new row as a list or tuple!

In [24]:
# df = pd.DataFrame([[1, 2,2], [3, 4]], columns = ['a','b','c']) this will create a NAN value directly
# df = pd.DataFrame([np.array([1,2,3]), [4, 5]], columns = ['a','b','c']) this also creates a NAN value directly in the dataframe
# s = pd.Series(np.array([1,2,3]), index = ['a','b']) this does not work as the index should match the entries in case of series
# df['c'] = pd.Series([5,6,7])
s

a    1
b    2
c    3
dtype: int64

In [29]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df

   a  b
0  1  2
1  3  4

In [28]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df['c'] = pd.Series(np.array([7,8,9])) # in columns addition, you cannot exceed the number of existing entries whereas in row addition you can
df

   a  b  c
0  1  2  7
1  3  4  8

In [ ]:
# in rows, we can add more than the existing entries
df = df.append(pd.Series([5,6,7], index=['a','b','c']), ignore_index=True)
df

   a  b    c
0  1  2  NaN
1  3  4  NaN
2  5  6  7.0

In [ ]:
# This is correct too, i.e., we CAN append a row as a dict
# df = df.append({'a':5, 'b':6}, ignore_index=True)

# This is NOT correct, i.e., we CANNOT append a row as a list
# df = df.append([5, 6], ignore_index=True)

# This is NOT correct, i.e., we CANNOT append a row as a tuple
# df = df.append((5, 6), ignore_index=True)

What if we use different column names for the new row ?!

In [35]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])

In [36]:
# add a row (as a series) with different column names
df = df.append(pd.Series([5,6], index=['a','c']), ignore_index=True) 
df

     a    b    c
0  1.0  2.0  NaN
1  3.0  4.0  NaN
2  5.0  NaN  6.0

* If we want to add several new rows to a dataframe, then we need first to represent them as
    * a `DataFrame` with the same column names 
* then we use `append()` or `concat()` function..
* This returns a new dataframe with the appended row.

In [37]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df

   a  b
0  1  2
1  3  4

In [ ]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df.append(df2)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [ ]:
# append not an inplace function
df

   a  b
0  1  2
1  3  4

In [ ]:
df.append(df2, ignore_index=True)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [ ]:
df = pd.concat([df, df2], ignore_index = True)
df

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

What if we use different column names ?!

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','c'])
df.append(df2)

   a    b    c
0  1  2.0  NaN
1  3  4.0  NaN
0  5  NaN  6.0
1  7  NaN  8.0

### 2.3  Delete Columns / Rows

To delete a single column, we can use either:
* `del` operation, or
* `pop()` function

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=['A','B','C','D'])
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
# using del function. delete does not return the deleted column whereas pop returns the deleted columns
del df['B']
df

    A   C   D
0   0   2   3
1   4   6   7
2   8  10  11
3  12  14  15

In [ ]:
# using pop function
df1 = df.pop('C')
df

    A   D
0   0   3
1   4   7
2   8  11
3  12  15

In [ ]:
df1

0     2
1     6
2    10
3    14
Name: C, dtype: int64

### `.drop()` function

In [43]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=['A','B','C','D'])
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [40]:
df.drop([1,2])

    A   B   C   D
0   0   1   2   3
3  12  13  14  15

In [45]:
# drop multiple columns
df.drop(['B','C'], axis= 1)

    A   D
0   0   3
1   4   7
2   8  11
3  12  15

In [ ]:
# or, equivalently:
df.drop(columns=['B','C'])

    A   D
0   0   3
1   4   7
2   8  11
3  12  15

In [46]:
df = pd.DataFrame(np.arange(16).reshape(4,4), 
                  columns=['A','B','C','D'], 
                  index=['e','f','g','h'])
df

    A   B   C   D
e   0   1   2   3
f   4   5   6   7
g   8   9  10  11
h  12  13  14  15

In [47]:
# Drop multiple rows by index-labels
df.drop(['f','g'], axis=0) # default is axis = 0 so even if we remove axis = 0 it works however same does not hold true for dropping along columns with axis = 1

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

In [ ]:
# or, equivalently:
df.drop(index=['f','g'])

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

In [ ]:
df.iloc[1:3].index

Index(['f', 'g'], dtype='object')

In [ ]:
# Drop multiple rows by positions, e.g., drop 2nd and 3rd rows

# First we find the index labels using iloc, then we drop them
df.drop(df.iloc[1:3].index, axis=0)

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

In [ ]:
# or, equivalently:
df.drop(index = df.iloc[1:3].index)

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

We can drop columns and rows at the same time

In [ ]:
df.drop(columns=['A','C'], index=['f','g'])

    B   D
e   1   3
h  13  15

#### Note about `inplace` argument 
 
Many pandas methods accepts the argument inplace.
* If `inplace` is set to `True`, then the changes that the method causes are done in place, i.e., this will modify the original dataframe.
* If `inplace` is set to `False`, the method returns a new dataframe with updated contents, and the original dataframe is not changed.

By default, `inplace` is `False`. This means:
* by default your changes don’t affect the original dataframe, but creates a new one! 
* If you want to apply your changes permanently to the original dataframe, you can either:
    * use the option: `inplace=True`, i.e., `df.some_function (..., inplace=True)`
    * or assign the result to the same dataframe, i.e., `df = df.some_function(...)`

In [48]:
df = pd.DataFrame(np.arange(16).reshape(4,4), 
                  columns=['A','B','C','D'], 
                  index=['e','f','g','h'])
df

    A   B   C   D
e   0   1   2   3
f   4   5   6   7
g   8   9  10  11
h  12  13  14  15

In [49]:
# This will not change the original df
df.drop(index=['f','g'])

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

In [50]:
df

    A   B   C   D
e   0   1   2   3
f   4   5   6   7
g   8   9  10  11
h  12  13  14  15

In [51]:
# This will change the original df
df.drop(index=['f','g'], inplace=True)
df

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

In [52]:
df = pd.DataFrame(np.arange(16).reshape(4,4), 
                  columns=['A','B','C','D'], 
                  index=['e','f','g','h'])

In [53]:
# This will change the original df
df = df.drop(index=['f','g'])
df

    A   B   C   D
e   0   1   2   3
h  12  13  14  15

### 2.4 Sort DataFrame
* by index: `sort_index()`
* by column: `sort_values()`

#### 2.4.1 Sort by index

In [54]:
a = np.array([[7, 19, 5, 8], [6, 14, 1, 15], [2, 1, 0, 6], [2, 3,11, 17]])
df = pd.DataFrame(a, columns=['C','B','D','A'], index=[32, 15, 12, 24])
df

    C   B   D   A
32  7  19   5   8
15  6  14   1  15
12  2   1   0   6
24  2   3  11  17

In [55]:
# sort rows by index (axis=0)
df.sort_index(axis=0)

    C   B   D   A
12  2   1   0   6
15  6  14   1  15
24  2   3  11  17
32  7  19   5   8

In [56]:
# sort rows by index (axis=0), descending order
df.sort_index(axis=0, ascending=False)

    C   B   D   A
32  7  19   5   8
24  2   3  11  17
15  6  14   1  15
12  2   1   0   6

In [57]:
# sort columns (axis=1)
df.sort_index(axis=1)

     A   B  C   D
32   8  19  7   5
15  15  14  6   1
12   6   1  2   0
24  17   3  2  11

In [58]:
# sort columns (axis=1), descending order
df.sort_index(axis=1, ascending=False)

     D  C   B   A
32   5  7  19   8
15   1  6  14  15
12   0  2   1   6
24  11  2   3  17

#### 2.4.2 Sort by column

In [59]:
# sort by a single column
df.sort_values(by='A')

    C   B   D   A
12  2   1   0   6
32  7  19   5   8
15  6  14   1  15
24  2   3  11  17

In [ ]:
# sort by a single column, descending order
df.sort_values(by='A', ascending=False)

In [60]:
# Sort by multiple columns
df.sort_values(by=['C','B']) # data will be sorted based on C and if there is a duplicate value in C then with respect to B

    C   B   D   A
12  2   1   0   6
24  2   3  11  17
15  6  14   1  15
32  7  19   5   8

In [61]:
# Sort by multiple columns, descending order of both 'C and 'B' columns
df.sort_values(by=['C','B'], ascending=False)

    C   B   D   A
32  7  19   5   8
15  6  14   1  15
24  2   3  11  17
12  2   1   0   6

In [62]:
# Sort by multiple columns, descending order of 'C, and ascending order of 'B'
df.sort_values(by=['C','B'], ascending=(False,True))

    C   B   D   A
32  7  19   5   8
15  6  14   1  15
12  2   1   0   6
24  2   3  11  17

[GEEKS FOR GEEKS for sort values method](https://https://www.geeksforgeeks.org/sort-rows-or-columns-in-pandas-dataframe-based-on-values/)

### 2.5 Iterate over DataFrames

Iterate over rows
* `iterrows()`

In [79]:
d= [('West Ham', 'Wolves', 1, 0), ('Everton','Man City', 0, 1),
    ('Man United','Watford', 0, 0),  ('Liverpool','Leeds United', 6, 0),
    ('Leeds United','Man United', 2, 4), ('Arsenal', 'Wolves', 2, 1)]
df = pd.DataFrame(d, columns=['Team 1', 'Team 2', 'G1', 'G2'])
df

         Team 1        Team 2  G1  G2
0      West Ham        Wolves   1   0
1       Everton      Man City   0   1
2    Man United       Watford   0   0
3     Liverpool  Leeds United   6   0
4  Leeds United    Man United   2   4
5       Arsenal        Wolves   2   1

In [82]:
for i,row in df.iterrows():
    print(i,row)
    # print(i, row['Team 1'],  row['Team 2'], row['G1'], row['G2'])

0 Team 1    West Ham
Team 2      Wolves
G1               1
G2               0
Name: 0, dtype: object
1 Team 1     Everton
Team 2    Man City
G1               0
G2               1
Name: 1, dtype: object
2 Team 1    Man United
Team 2       Watford
G1                 0
G2                 0
Name: 2, dtype: object
3 Team 1       Liverpool
Team 2    Leeds United
G1                   6
G2                   0
Name: 3, dtype: object
4 Team 1    Leeds United
Team 2      Man United
G1                   2
G2                   4
Name: 4, dtype: object
5 Team 1    Arsenal
Team 2     Wolves
G1              2
G2              1
Name: 5, dtype: object

In [ ]:
# Count the goals of each team
goals_dic = {}
for i, row in df.iterrows():
    team1, team2 = row['Team 1'], row['Team 2']
    goals1, goals2 = row['G1'], row['G2']
    goals_dic[team1] = goals_dic.get(team1,0) + goals1
    goals_dic[team2] = goals_dic.get(team2,0) + goals2
goals_dic

In [ ]:
# Make a list of goals of each team
goals_dic = {}
for i, row in df.iterrows():
    team1, team2 = row['Team 1'], row['Team 2']
    goals1, goals2 = row['G1'], row['G2']
    goals_dic[team1] = goals_dic.get(team1,[]) + [goals1]
    goals_dic[team2] = goals_dic.get(team2,[]) + [goals2]
goals_dic

Iterate over tuples
* `itertuples()`

In [ ]:
for t in df.itertuples():
    print(t)

In [ ]:
# to obtain. regular tuples
for t in df.itertuples(index=None, name=None):
    print(t)

In [ ]:
# count the goals of each team
goals_dic = {}
for team1, team2, g1, g2 in df.itertuples(index=None, name=None):
    goals_dic[team1] = goals_dic.get(team1,0) + g1
    goals_dic[team2] = goals_dic.get(team2,0) + g2
goals_dic

In [ ]:
from collections import defaultdict

In [ ]:
goals_dic = defaultdict(lambda : 0)
for team1, team2, g1, g2 in df.itertuples(index=None, name=None):
    goals_dic[team1] += g1
    goals_dic[team2] += g2
goals_dic = dict(goals_dic)
goals_dic

In [77]:
  #   count_dic[val] +=1
  # else:
  #   count_dic[val] = 1

a = [1,2,1,1,2,4,7,7,6]
count_dic = {}
for val in a:
    count_dic[val] = count_dic.get(val,0) + 1 

count_dic

{1: 3, 2: 2, 4: 1, 7: 2, 6: 1}